Checks: '-*,readability-*,-readability-magic-numbers,-readability-qualified-auto,-readability-function-cognitive-complexity,-readability-convert-member-functions-to-static,-readability-const-return-type,-readability-use-anyofallof,-readability-redundant-string-init,-readability-identifier-length,-readability-suspicious-call-argument'
WarningsAsErrors: '*'
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           4
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.LocalVariableCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
    # underscore suffix for static and protected/private class members.
    # Public members (especially in structs) should not have an underscore suffix.
  - key:             readability-identifier-naming.ClassMemberSuffix # static
    value:           _
  - key:             readability-identifier-naming.ProtectedMemberSuffix
    value:           _
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _
  - key:             readability-identifier-naming.ClassMethodCase
    value:           camelBack
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.ConstexprVariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstexprVariablePrefix
    value:           k
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           k
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           1
  - key:             readability-identifier-length.MinimumVariableNameLength
    value:           2
  - key:             readability-identifier-length.MinimumParameterNameLength
    value:           2
  - key:             readability-identifier-length.IgnoredParameterNames
    value:           ^[nK]$
  - key:             readability-identifier-naming.EnumConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantPrefix
    value:           k
